* {
    font-family: 'Happy Monkey', cursive;
}

.container{
    width: 800px;
    margin: auto;
    padding: 50px;
    box-shadow: 5px 5px 10px grey;
}

p, li {
    color: #707070;
}

.header {
    text-align: center;
}

h1 {
    color: #DB0038;
}

h2 {
    color: #3998A3;
}

h3 {
    color: #474747;
}

.hero {
    background-color: #f4f4f4;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
}

li {
    padding: 5px 0;
}

span {
    color: #F4B400;
    font-size: 25px;
}

.footer {
    text-align: center;
}